<div id="answers">
    <div class="row" id="answer-<%= answer.id %>">
      <div class="col answer ">
        <div class="userName">Answer By: <%= answer.user.name %></div>
        <p><%= answer.body %></p>

        <% if user_signed_in? and answer.user_id == current_user.id %>
          <%= link_to "Accept Answer",
                      accepted_answers_url(answer_id: answer.id, question_thread_id: answer.question_thread_id),
                      id: "acceptAnswerLink-" + answer.id.to_s, :method => :post %>
        <% end %>

      </div>
    </div>


</div>
