<h1>New answer in <%= @answer.question_thread.question %></h1>

<p><%= link_to "Reply", question_threads_url(@answer.question_thread,
                                          anchor: dom_id(@answer)) %></p>