<div class="container">

<%# this conditional block is just hiding the search feature until it is implemented %>
<% if false %>
  <div class="pull-right" style="margin-right: 10px">
    <%= search_form_for @q, html: { class: "form-inline" } do |f| %>
      <%= f.search_field :subject_or_forum_posts_body_cont, placeholder: "Search...", class: "form-control" %>
    <% end %>
  </div>
<% end %>

  <div class="row">
    <div class="col">
      <h1 class="page-header">Questions</h1>
    </div>
    <% if user_signed_in? %>
      <div class="col">
        <%= link_to "New Question", new_question_thread_path, class: "float-right btn btn-success" %>
      </div>
    <% end %>
  </div>
  <hr>

  <%= render @question_threads %>

</div>
