  <div class="row">
    <div class="col">
      <h1 class="page-header">Browse Questions</h1>
    </div>

  </div>
  <% if user_signed_in? %>
    <div class="row">
      <div class="col">
        <%= link_to "New Question", new_question_thread_path, class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  <hr>

  <%= render @question_threads %>

