<h1>Continuity</h1>
<p class="lead">Use this question and answer platform to help establish continuity</p>

<div class="row">
  <div class="col">
    <%= link_to "Questions", question_threads_path, class: "btn btn-primary" %>
  </div>
</div>
