<div class="row">
  <div class="col">
    <h1>Question Thread</h1>
    <% @questions.each do |question| %>
      <p><%= link_to question.question, question %></p>
    <% end %>
  </div>

  <div class="col">
    <h1>Answers</h1>
    <% @answers.each do |answer| %>
      <p><%= link_to answer.body, question_thread_path(answer.question_thread_id.to_s) %></p>
    <% end %>
  </div>


  <div class="col">
    <h1>Messages</h1>
    <% @messages.each do |message| %>
      <p><%= link_to message.body, question_thread_path(message.chatroom_id.to_s) %></p>
    <% end %>
  </div>
</div>