<div class="row" id="comment-<%= comment.id.to_s %> %>" data-controller="inline-edit">
  <div class="comment col">
    <div class="commentBody mb-3" data-target="inline-edit.body" data-action="click->inline-edit#toggle">
      <%= comment.body %> <small> By: <%= comment.user.name %></small>
    </div>
    <%#= render partial: 'question_threads/comments/form', answer: answer,  comment: comment, class: "d-none" %>
  </div>
</div>

