<% comments.each do |c| %>
  <div class="row" id="comment-<%= c.id.to_s %> %>">
    <div class="comment col">
      <p><%= c.body %><small> By: <%= c.user.name %></small></p>
    </div>
  </div>
<% end %>

