<%= form_for [answer, comment], html: {class: "commentForm"}, :remote => true do |c| %>
  <div class="form-group">
    <%= c.text_area :body, placeholder: "Comment", rows: 3, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= c.submit "Comment", :class => "btn btn-primary form-control" %>
  </div>
<% end %>
