// $navbar-default-bg: #312312;
// $light-orange: #ff8c00;
// $navbar-default-color: $light-orange;

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";
@import "sticky-footer";
@import "announcements";

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}


// Question
.question {

  padding-bottom: 1rem;
}

// Answer
.answer {
  border-top: #999999 1px solid;
  border-bottom: #999999 1px solid;
  padding-top: 1rem;

  .userName {
    font-size: small;
    color: #666666;
    padding-bottom: .5rem;
  }
}

#acceptedAnswer {
  background: rgba(152, 251, 152, .2);
}

.answerForm {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

// Comment
.comment {
  border-bottom: #999999 1px solid;
  padding-top: 1rem;
  padding-left: 40px;

  small {
    color: #666666;
  }
}

.addComment {
  padding: 1rem;
  text-align: right;
}

.commentForm {
  padding-top: 1rem;
}