<%= form_for [@question_thread, @question_answer], html: {class: "answerForm"}  do |f| %>
  <div class="form-group">
    <%= f.text_area :body, placeholder: "Answer", rows: 10, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.submit "Post answer", :class => "btn btn-primary form-control" %>
  </div>
<% end %>
