<%= form_tag do %>
  <div class="form-group">
    <%= text_area :question_answer, :body, placeholder: "Add a comment", rows: 10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit_tag("Post", :class => "btn btn-primary") %>
  </div>
<% end %>
